.container
  %h1
    Index page

%iframe{ frameborder: '0', height: '350', marginheight: '0', marginwidth: '0', scrolling: 'no', src: 'https://www.openstreetmap.org/export/embed.html?bbox=24.128328859806064%2C56.93987675639879%2C24.1310915350914%2C56.94068443152659&layer=mapnik&marker=56.94028059614921%2C24.12971019744873', width: '100%' }
